# Proyecto guiado COVID-19

Por Skills.For.Industry
www.skillsforindustry.org

Durante este proyecto guiado analizaremos los datos del Coroavirus al rededor del mundo.

In [3]:
# paso 1 . importación de librerías 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [4]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.5.2)
Requirement already satisfied: scipy>=1.0 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.9.0)
Requirement already satisfied: numpy>=1.15 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.23.1)
Requirement already satisfied: pandas>=0.23 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.4.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (4.34.4)
Requirement already satisfied: packaging>=20.0 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\bruno ortega\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\Bruno Ortega\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

En este notebook haremos un proyecto de covid

In [5]:
# cargar los datos

data = pd.read_csv('covid_19_data.csv' , encoding='utf-8')

el utf-8 sirve para reconocer los archivos excel y se pueda leer.

In [6]:
# observar los datos

data.head(20)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
10,11,01/22/2020,Heilongjiang,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
11,12,01/22/2020,Henan,Mainland China,1/22/2020 17:00,5.0,0.0,0.0
12,13,01/22/2020,Hong Kong,Hong Kong,1/22/2020 17:00,0.0,0.0,0.0
13,14,01/22/2020,Hubei,Mainland China,1/22/2020 17:00,444.0,17.0,28.0
14,15,01/22/2020,Hunan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
15,16,01/22/2020,Inner Mongolia,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
16,17,01/22/2020,Jiangsu,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
17,18,01/22/2020,Jiangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
18,19,01/22/2020,Jilin,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
19,20,01/22/2020,Liaoning,Mainland China,1/22/2020 17:00,2.0,0.0,0.0

In [7]:
data.tail(20)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
306409,306410,05/29/2021,Western Australia,Australia,2021-05-30 04:20:55,1017.0,9.0,1006.0
306410,306411,05/29/2021,Wisconsin,US,2021-05-30 04:20:55,674003.0,7830.0,0.0
306411,306412,05/29/2021,Wyoming,US,2021-05-30 04:20:55,60144.0,719.0,0.0
306412,306413,05/29/2021,Xinjiang,Mainland China,2021-05-30 04:20:55,980.0,3.0,977.0
306413,306414,05/29/2021,Yamagata,Japan,2021-05-30 04:20:55,1963.0,42.0,1692.0
306414,306415,05/29/2021,Yamaguchi,Japan,2021-05-30 04:20:55,2903.0,60.0,2330.0
306415,306416,05/29/2021,Yamalo-Nenets Autonomous Okrug,Russia,2021-05-30 04:20:55,39063.0,419.0,37848.0
306416,306417,05/29/2021,Yamanashi,Japan,2021-05-30 04:20:55,1541.0,19.0,1390.0
306417,306418,05/29/2021,Yaroslavl Oblast,Russia,2021-05-30 04:20:55,40903.0,605.0,38968.0
306418,306419,05/29/2021,Yucatan,Mexico,2021-05-30 04:20:55,39748.0,3917.0,0.0
306419,306420,05/29/2021,Yukon,Canada,2021-05-30 04:20:55,84.0,2.0,82.0
306420,306421,05/29/2021,Yunnan,Mainland China,2021-05-30 04:20:55,352.0,2.0,331.0
306421,306422,05/29/2021,Zabaykalsky Krai,Russia,2021-05-30 04:20:55,43126.0,669.0,41650.0
306422,306423,05/29/2021,Zacatecas,Mexico,2021-05-30 04:20:55,30758.0,2797.0,0.0
306423,306424,05/29/2021,Zakarpattia Oblast,Ukraine,2021-05-30 04:20:55,61611.0,1586.0,58882.0
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

Limpieza de datos

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228329 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

###### podemos detectar que 'ObservationDate' y 'Last Update' están en formato Object, necesitamos cambar esto a un DateTime

In [9]:
#Hazlo aquí
data["ObservationDate"] = pd.to_datetime(data["ObservationDate"])
data["Last Update"] = pd.to_datetime(data["Last Update"])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  datetime64[ns]
 2   Province/State   228329 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  datetime64[ns]
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 18.7+ MB

In [10]:
data["Last Update"]

0        2020-01-22 17:00:00
1        2020-01-22 17:00:00
2        2020-01-22 17:00:00
3        2020-01-22 17:00:00
4        2020-01-22 17:00:00
                 ...
306424   2021-05-30 04:20:55
306425   2021-05-30 04:20:55
306426   2021-05-30 04:20:55
306427   2021-05-30 04:20:55
306428   2021-05-30 04:20:55
Name: Last Update, Length: 306429, dtype: datetime64[ns]

Revisa datos nulos. ¿Qué tantos hay?

In [11]:
#Hazlo aquí
data.isnull().sum()

SNo                    0
ObservationDate        0
Province/State     78100
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64

In [12]:
#examinamos la información de nuestra base de datos y los tipos de dato
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  datetime64[ns]
 2   Province/State   228329 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  datetime64[ns]
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 18.7+ MB

In [13]:
# otra forma de ver el tipo de dato
data.dtypes

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

* podemos ver que hemos cambiado el formato objeto a un formato de tiempo

Revisa el tamaño del dataset

In [46]:
#obtener el tamaño del dataset
data.shape

(306429, 8)

Revisa el día de la última observación

In [51]:
data["ObservationDate"].tail(1)

306428   2021-05-29
Name: ObservationDate, dtype: datetime64[ns]

In [28]:
data1 = data.sort_values(by=['Last Update'],ascending=False)
data1

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
306428,306429,2021-05-29,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0
305915,305916,2021-05-29,Campania,Italy,2021-05-30 04:20:55,418600.0,7190.0,343566.0
305924,305925,2021-05-29,Catalonia,Spain,2021-05-30 04:20:55,611008.0,14531.0,26203.0
305923,305924,2021-05-29,Castilla y Leon,Spain,2021-05-30 04:20:55,230600.0,6882.0,8716.0
305922,305923,2021-05-29,Castilla - La Mancha,Spain,2021-05-30 04:20:55,192347.0,5912.0,6392.0
...,...,...,...,...,...,...,...,...
26,27,2020-01-22,Shanxi,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
25,26,2020-01-22,Shanghai,Mainland China,2020-01-22 17:00:00,9.0,0.0,0.0
24,25,2020-01-22,Shandong,Mainland China,2020-01-22 17:00:00,2.0,0.0,0.0
23,24,2020-01-22,Shaanxi,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0

In [27]:
last_update = data1.head(1)
last_update

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
306428,306429,2021-05-29,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

continuamos explorando nuestra base de datos. Imprime los datos únicos para la columna de Province/State

In [58]:
#Hazlo aquí
data["Province/State"].unique()

array(['Anhui', 'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong',
       'Guangxi', 'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan',
       'Hong Kong', 'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu',
       'Jiangxi', 'Jilin', 'Liaoning', 'Macau', 'Ningxia', 'Qinghai',
       'Shaanxi', 'Shandong', 'Shanghai', 'Shanxi', 'Sichuan', 'Taiwan',
       'Tianjin', 'Tibet', 'Washington', 'Xinjiang', 'Yunnan', 'Zhejiang',
       nan, 'Unknown', 'Chicago', 'Illinois', 'California', 'Arizona',
       'Ontario', 'New South Wales', 'Victoria', 'British Columbia',
       'Bavaria', 'Queensland', 'Chicago, IL', 'South Australia',
       'Boston, MA', 'Los Angeles, CA', 'Orange, CA', 'Santa Clara, CA',
       'Seattle, WA', 'Tempe, AZ', 'San Benito, CA', 'Toronto, ON',
       'London, ON', 'Madison, WI', 'Cruise Ship',
       'Diamond Princess cruise ship', 'San Diego County, CA',
       'San Antonio, TX', 'Ashland, NE', 'Travis, CA',
       'From Diamond Princess', 'Lackland, TX', 'None',
       'Humboldt County, CA', 'Sacramento County, CA',
       'Omaha, NE (From Diamond Princess)',
       'Travis, CA (From Diamond Princess)',
       'Lackland, TX (From Diamond Princess)',
       'Unassigned Location (From Diamond Princess)', ' Montreal, QC',
       'Western Australia', 'Portland, OR', 'Snohomish County, WA',
       'Providence, RI', 'King County, WA', 'Cook County, IL', 'Tasmania',
       'Grafton County, NH', 'Hillsborough, FL', 'New York City, NY',
       'Placer County, CA', 'San Mateo, CA', 'Sarasota, FL',
       'Sonoma County, CA', 'Umatilla, OR', 'Fulton County, GA',
       'Washington County, OR', ' Norfolk County, MA', 'Berkeley, CA',
       'Maricopa County, AZ', 'Wake County, NC', 'Westchester County, NY',
       'Orange County, CA', 'Northern Territory',
       'Contra Costa County, CA', 'Bergen County, NJ',
       'Harris County, TX', 'San Francisco County, CA',
       'Clark County, NV', 'Fort Bend County, TX', 'Grant County, WA',
       'Queens County, NY', 'Santa Rosa County, FL',
       'Williamson County, TN', 'New York County, NY',
       'Unassigned Location, WA', 'Montgomery County, MD',
       'Suffolk County, MA', 'Denver County, CO', 'Summit County, CO',
       'Calgary, Alberta', 'Chatham County, NC', 'Delaware County, PA',
       'Douglas County, NE', 'Fayette County, KY', 'Floyd County, GA',
       'Marion County, IN', 'Middlesex County, MA', 'Nassau County, NY',
       'Norwell County, MA', 'Ramsey County, MN', 'Washoe County, NV',
       'Wayne County, PA', 'Yolo County, CA', 'Santa Clara County, CA',
       'Grand Princess Cruise Ship', 'Douglas County, CO',
       'Providence County, RI', 'Alameda County, CA',
       'Broward County, FL', 'Fairfield County, CT', 'Lee County, FL',
       'Pinal County, AZ', 'Rockland County, NY', 'Saratoga County, NY',
       'Edmonton, Alberta', 'Charleston County, SC', 'Clark County, WA',
       'Cobb County, GA', 'Davis County, UT', 'El Paso County, CO',
       'Honolulu County, HI', 'Jackson County, OR ',
       'Jefferson County, WA', 'Kershaw County, SC', 'Klamath County, OR',
       'Madera County, CA', 'Pierce County, WA', 'Plymouth County, MA',
       'Santa Cruz County, CA', 'Tulsa County, OK',
       'Montgomery County, TX', 'Norfolk County, MA',
       'Montgomery County, PA', 'Fairfax County, VA',
       'Rockingham County, NH', 'Washington, D.C.',
       'Berkshire County, MA', 'Davidson County, TN',
       'Douglas County, OR', 'Fresno County, CA', 'Harford County, MD',
       'Hendricks County, IN', 'Hudson County, NJ', 'Johnson County, KS',
       'Kittitas County, WA', 'Manatee County, FL', 'Marion County, OR',
       'Okaloosa County, FL', 'Polk County, GA', 'Riverside County, CA',
       'Shelby County, TN', 'Spokane County, WA', 'St. Louis County, MO',
       'Suffolk County, NY', 'Ulster County, NY',
       'Unassigned Location, VT', 'Unknown Location, MA',
       'Volusia County, FL', 'Alberta', 'Quebec', 'Johnson County, IA',
       'Harrison County, KY', 'Bennington County, VT',
       'Carver County, MN', 'Charlotte County, FL', 'Cherokee County, GA',
       'Collin County, TX', 'Jefferson County, KY',
       'Jefferson Parish, LA', 'Shasta County, CA',
       'Spartanburg County, SC', 'New York', 'Massachusetts',
       'Grand Princess', 'Georgia', 'Colorado', 'Florida', 'New Jersey',
       'Oregon', 'Texas', 'Pennsylvania', 'Iowa', 'Maryland',
       'North Carolina', 'South Carolina', 'Tennessee', 'Virginia',
       'Indiana', 'Kentucky', 'District of Columbia', 'Nevada',
       'New Hampshire', 'Minnesota', 'Nebraska', 'Ohio', 'Rhode Island',
       'Wisconsin', 'Connecticut', 'Hawaii', 'Oklahoma', 'Utah', 'Kansas',
       'Louisiana', 'Missouri', 'Vermont', 'Alaska', 'Arkansas',
       'Delaware', 'Idaho', 'Maine', 'Michigan', 'Mississippi', 'Montana',
       'New Mexico', 'North Dakota', 'South Dakota', 'West Virginia',
       'Wyoming', 'France', 'UK', 'Denmark', 'Faroe Islands', 'St Martin',
       'Channel Islands', 'New Brunswick', 'Saint Barthelemy',
       'Gibraltar', 'Australian Capital Territory', 'United Kingdom',
       'French Polynesia', 'Manitoba', 'Saskatchewan', 'Alabama',
       'Fench Guiana', 'Puerto Rico', 'Virgin Islands, U.S.',
       'French Guiana', 'Guam', 'Newfoundland and Labrador',
       'Prince Edward Island', 'Mayotte', 'Netherlands', 'Nova Scotia',
       'Guadeloupe', 'Curacao', 'Virgin Islands', 'Cayman Islands',
       'Reunion', 'Aruba', 'United States Virgin Islands', 'US',
       'Montserrat', 'Greenland', 'New Caledonia', 'Bermuda',
       'Sint Maarten', 'Isle of Man', 'Northwest Territories',
       'American Samoa', 'External territories', 'Jervis Bay Territory',
       'Martinique', 'Northern Mariana Islands', 'Nunavut',
       'Saint Helena, Ascension and Tristan da Cunha', 'Wuhan Evacuee',
       'Recovered', 'Yukon', 'Anguilla', 'British Virgin Islands',
       'Turks and Caicos Islands', 'Bonaire, Sint Eustatius and Saba',
       'Falkland Islands (Islas Malvinas)', 'Saint Pierre and Miquelon',
       'Falkland Islands (Malvinas)', 'Abruzzo', 'Andalusia', 'Aragon',
       'Asturias', 'Baden-Wurttemberg', 'Baleares', 'Basilicata',
       'Bayern', 'Berlin', 'Brandenburg', 'Bremen', 'C. Valenciana',
       'Calabria', 'Campania', 'Canarias', 'Cantabria',
       'Castilla - La Mancha', 'Castilla y Leon', 'Catalonia', 'Ceuta',
       'Emilia-Romagna', 'Extremadura', 'Friuli Venezia Giulia',
       'Galicia', 'Hamburg', 'Hessen', 'La Rioja', 'Lazio', 'Liguria',
       'Lombardia', 'Madrid', 'Marche', 'Mecklenburg-Vorpommern',
       'Melilla', 'Molise', 'Murcia', 'Navarra', 'Niedersachsen',
       'Nordrhein-Westfalen', 'P.A. Bolzano', 'P.A. Trento', 'Pais Vasco',
       'Piemonte', 'Puglia', 'Rheinland-Pfalz', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Sardegna', 'Schleswig-Holstein', 'Sicilia',
       'Thuringen', 'Toscana', 'Umbria', "Valle d'Aosta", 'Veneto',
       'Acre', 'Aguascalientes', 'Alagoas', 'Amapa', 'Amazonas',
       'Antofagasta', 'Araucania', 'Arica y Parinacota', 'Atacama',
       'Aysen', 'Bahia', 'Baja California', 'Baja California Sur',
       'Biobio', 'Campeche', 'Ceara', 'Chiapas', 'Chihuahua',
       'Ciudad de Mexico', 'Coahuila', 'Colima', 'Coquimbo',
       'Distrito Federal', 'Durango', 'Espirito Santo', 'Goias',
       'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Los Lagos',
       'Los Rios', 'Magallanes', 'Maranhao', 'Mato Grosso',
       'Mato Grosso do Sul', 'Maule', 'Metropolitana', 'Mexico',
       'Michoacan', 'Minas Gerais', 'Morelos', 'Nayarit', 'Nuble',
       'Nuevo Leon', 'OHiggins', 'Oaxaca', 'Para', 'Paraiba', 'Parana',
       'Pernambuco', 'Piaui', 'Puebla', 'Queretaro', 'Quintana Roo',
       'Rio Grande do Norte', 'Rio Grande do Sul', 'Rio de Janeiro',
       'Rondonia', 'Roraima', 'San Luis Potosi', 'Santa Catarina',
       'Sao Paulo', 'Sergipe', 'Sinaloa', 'Sonora', 'Tabasco',
       'Tamaulipas', 'Tarapaca', 'Tlaxcala', 'Tocantins', 'Valparaiso',
       'Veracruz', 'Yucatan', 'Zacatecas', 'Aichi', 'Akita', 'Ancash',
       'Antioquia', 'Aomori', 'Apurimac', 'Arauca', 'Arequipa',
       'Atlantico', 'Ayacucho', 'Bolivar', 'Boyaca', 'Cajamarca',
       'Caldas', 'Callao', 'Capital District', 'Caqueta', 'Casanare',
       'Cauca', 'Cesar', 'Chiba', 'Choco', 'Cordoba', 'Cundinamarca',
       'Cusco', 'Ehime', 'Fukui', 'Fukuoka', 'Fukushima', 'Gifu', 'Gunma',
       'Hiroshima', 'Hokkaido', 'Huancavelica', 'Huanuco', 'Huila',
       'Hyogo', 'Ibaraki', 'Ica', 'Ishikawa', 'Junin', 'Kagawa',
       'Kagoshima', 'Kanagawa', 'Kochi', 'Kumamoto', 'Kyoto',
       'La Guajira', 'La Libertad', 'Lambayeque', 'Lima', 'Loreto',
       'Madre de Dios', 'Magdalena', 'Meta', 'Mie', 'Miyagi', 'Miyazaki',
       'Moquegua', 'Nagano', 'Nagasaki', 'Nara', 'Narino', 'Niigata',
       'Norte de Santander', 'Oita', 'Okayama', 'Okinawa', 'Osaka',
       'Pasco', 'Piura', 'Port Quarantine', 'Puno', 'Putumayo', 'Quindio',
       'Risaralda', 'Saga', 'Saitama', 'San Andres y Providencia',
       'San Martin', 'Santander', 'Shiga', 'Shimane', 'Shizuoka', 'Sucre',
       'Tacna', 'Tochigi', 'Tokushima', 'Tokyo', 'Tolima', 'Tottori',
       'Toyama', 'Tumbes', 'Ucayali', 'Valle del Cauca', 'Vaupes',
       'Wakayama', 'Yamagata', 'Yamaguchi', 'Yamanashi', 'Guainia',
       'Vichada', 'Adygea Republic', 'Altai Krai', 'Altai Republic',
       'Amur Oblast', 'Arkhangelsk Oblast', 'Astrakhan Oblast',
       'Bashkortostan Republic', 'Belgorod Oblast', 'Bryansk Oblast',
       'Buryatia Republic', 'Chechen Republic', 'Chelyabinsk Oblast',
       'Cherkasy Oblast', 'Chernihiv Oblast', 'Chernivtsi Oblast',
       'Chukotka Autonomous Okrug', 'Chuvashia Republic',
       'Crimea Republic*', 'Dagestan Republic', 'Dnipropetrovsk Oblast',
       'Donetsk Oblast', 'Ingushetia Republic', 'Irkutsk Oblast',
       'Ivano-Frankivsk Oblast', 'Ivanovo Oblast',
       'Jewish Autonomous Okrug', 'Kabardino-Balkarian Republic',
       'Kaliningrad Oblast', 'Kalmykia Republic', 'Kaluga Oblast',
       'Kamchatka Krai', 'Karachay-Cherkess Republic', 'Karelia Republic',
       'Kemerovo Oblast', 'Khabarovsk Krai', 'Khakassia Republic',
       'Khanty-Mansi Autonomous Okrug', 'Kharkiv Oblast',
       'Kherson Oblast', 'Khmelnytskyi Oblast', 'Kiev', 'Kiev Oblast',
       'Kirov Oblast', 'Kirovohrad Oblast', 'Komi Republic',
       'Kostroma Oblast', 'Krasnodar Krai', 'Krasnoyarsk Krai',
       'Kurgan Oblast', 'Kursk Oblast', 'Leningrad Oblast',
       'Lipetsk Oblast', 'Luhansk Oblast', 'Lviv Oblast',
       'Magadan Oblast', 'Mari El Republic', 'Mordovia Republic',
       'Moscow', 'Moscow Oblast', 'Murmansk Oblast', 'Mykolaiv Oblast',
       'Nenets Autonomous Okrug', 'Nizhny Novgorod Oblast',
       'North Ossetia - Alania Republic', 'Novgorod Oblast',
       'Novosibirsk Oblast', 'Odessa Oblast', 'Omsk Oblast',
       'Orel Oblast', 'Orenburg Oblast', 'Penza Oblast', 'Perm Krai',
       'Poltava Oblast', 'Primorsky Krai', 'Pskov Oblast', 'Rivne Oblast',
       'Rostov Oblast', 'Ryazan Oblast', 'Saint Petersburg',
       'Sakha (Yakutiya) Republic', 'Sakhalin Oblast', 'Samara Oblast',
       'Saratov Oblast', 'Sevastopol*', 'Smolensk Oblast',
       'Stavropol Krai', 'Sumy Oblast', 'Sverdlovsk Oblast',
       'Tambov Oblast', 'Tatarstan Republic', 'Ternopil Oblast',
       'Tomsk Oblast', 'Tula Oblast', 'Tver Oblast', 'Tyumen Oblast',
       'Tyva Republic', 'Udmurt Republic', 'Ulyanovsk Oblast',
       'Vinnytsia Oblast', 'Vladimir Oblast', 'Volgograd Oblast',
       'Vologda Oblast', 'Volyn Oblast', 'Voronezh Oblast',
       'Yamalo-Nenets Autonomous Okrug', 'Yaroslavl Oblast',
       'Zabaykalsky Krai', 'Zakarpattia Oblast', 'Zaporizhia Oblast',
       'Zhytomyr Oblast', 'Blekinge', 'Dalarna', 'Gavleborg', 'Gotland',
       'Halland', 'Jamtland Harjedalen', 'Jonkoping', 'Kalmar',
       'Kronoberg', 'Norrbotten', 'Orebro', 'Ostergotland', 'Skane',
       'Sormland', 'Stockholm', 'Uppsala', 'Varmland', 'Vasterbotten',
       'Vasternorrland', 'Vastmanland', 'Vastra Gotaland', 'Guaviare',
       'Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Azad Jammu and Kashmir',
       'Balochistan', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadar Nagar Haveli', 'Delhi', 'Gilgit-Baltistan', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Islamabad',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Khyber Pakhtunkhwa', 'Ladakh', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Sindh',
       'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal',
       'Dadra and Nagar Haveli and Daman and Diu', 'England',
       'Northern Ireland', 'Scotland', 'Wales', 'Drenthe', 'Flevoland',
       'Friesland', 'Gelderland', 'Groningen', 'Limburg', 'Noord-Brabant',
       'Noord-Holland', 'Overijssel', 'Utrecht', 'Zeeland',
       'Zuid-Holland', 'Iwate', 'Lakshadweep', 'Antwerp', 'Brussels',
       'East Flanders', 'Flemish Brabant', 'Hainaut', 'Liege',
       'Luxembourg', 'Namur', 'Walloon Brabant', 'West Flanders',
       'Repatriated Travellers', 'Wallis and Futuna'], dtype=object)

Imprime el **número** de valores únicos ahora

In [55]:
len(data['Province/State'].unique())

738

In [56]:
data["Province/State"].nunique()

737

Revisa, de reojo, ¿hay algún país que tenga mal escrito el nombre?

In [14]:
#explorar los valores únicos de country/Region
data['Country/Region'].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'China', 'Kiribati', 'Singapore',
       'Philippines', 'Malaysia', 'Vietnam', 'Australia', 'Mexico',
       'Brazil', 'Colombia', 'France', 'Nepal', 'Canada', 'Cambodia',
       'Sri Lanka', 'Ivory Coast', 'Germany', 'Finland',
       'United Arab Emirates', 'India', 'Italy', 'UK', 'Russia', 'Sweden',
       'Spain', 'Belgium', 'Others', 'Egypt', 'Iran', 'Israel', 'Lebanon',
       'Iraq', 'Oman', 'Afghanistan', 'Bahrain', 'Kuwait', 'Austria',
       'Algeria', 'Croatia', 'Switzerland', 'Pakistan', 'Georgia',
       'Greece', 'North Macedonia', 'Norway', 'Romania', 'Denmark',
       'Estonia', 'Netherlands', 'San Marino', ' Azerbaijan', 'Belarus',
       'Iceland', 'Lithuania', 'New Zealand', 'Nigeria', 'North Ireland',
       'Ireland', 'Luxembourg', 'Monaco', 'Qatar', 'Ecuador',
       'Azerbaijan', 'Czech Republic', 'Armenia', 'Dominican Republic',
       'Indonesia', 'Portugal', 'Andorra', 'Latvia', 'Morocco',
       'Saudi Arabia', 'Senegal', 'Argentina', 'Chile', 'Jordan',
       'Ukraine', 'Saint Barthelemy', 'Hungary', 'Faroe Islands',
       'Gibraltar', 'Liechtenstein', 'Poland', 'Tunisia', 'Palestine',
       'Bosnia and Herzegovina', 'Slovenia', 'South Africa', 'Bhutan',
       'Cameroon', 'Costa Rica', 'Peru', 'Serbia', 'Slovakia', 'Togo',
       'Vatican City', 'French Guiana', 'Malta', 'Martinique',
       'Republic of Ireland', 'Bulgaria', 'Maldives', 'Bangladesh',
       'Moldova', 'Paraguay', 'Albania', 'Cyprus', 'St. Martin', 'Brunei',
       'occupied Palestinian territory', "('St. Martin',)",
       'Burkina Faso', 'Channel Islands', 'Holy See', 'Mongolia',
       'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)', 'Jamaica',
       'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Samoa', 'Syria', 'Timor-Leste', 'Belize',
       'Laos', 'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Sao Tome and Principe', 'Yemen', 'Comoros',
       'Tajikistan', 'Lesotho', 'Solomon Islands', 'Marshall Islands',
       'Vanuatu', 'Micronesia'], dtype=object)

In [41]:
paisregion = data.groupby(["Country/Region", "Province/State"]).max()
paisregion.loc["Mexico"].head(33)
#sacamos la ultima fecha por región aquí (son los registros ultimos)

,SNo,ObservationDate,Last Update,Confirmed,Deaths,Recovered
Province/State,,,,,,
Aguascalientes,305840,2021-05-29,2021-05-30 04:20:55,26501.0,2418.0,8450.0
Baja California,305886,2021-05-29,2021-05-30 04:20:55,49091.0,8241.0,18915.0
Baja California Sur,305887,2021-05-29,2021-05-30 04:20:55,32041.0,1437.0,11901.0
Campeche,305917,2021-05-29,2021-05-30 04:20:55,10174.0,1227.0,5639.0
Chiapas,305939,2021-05-29,2021-05-30 04:20:55,11413.0,1573.0,6730.0
Chihuahua,305941,2021-05-29,2021-05-30 04:20:55,55547.0,6966.0,17317.0
Ciudad de Mexico,305946,2021-05-29,2021-05-30 04:20:55,657832.0,33198.0,142328.0
Coahuila,305947,2021-05-29,2021-05-30 04:20:55,68802.0,6262.0,30938.0
Colima,305948,2021-05-29,2021-05-30 04:20:55,11894.0,1196.0,5791.0
Durango,305969,2021-05-29,2021-05-30 04:20:55,34205.0,2460.0,13226.0
Guanajuato,306007,2021-05-29,2021-05-30 04:20:55,131934.0,10869.0,45630.0
Guerrero,306011,2021-05-29,2021-05-30 04:20:55,41104.0,4464.0,20009.0
Hidalgo,306025,2021-05-29,2021-05-30 04:20:55,38950.0,6213.0,13370.0
Jalisco,306051,2021-05-29,2021-05-30 04:20:55,87048.0,12375.0,29846.0
Mexico,306147,2021-05-29,2021-05-30 04:20:55,250093.0,34955.0,86405.0
Michoacan,306149,2021-05-29,2021-05-30 04:20:55,48282.0,5808.0,23178.0
Morelos,306163,2021-05-29,2021-05-30 04:20:55,33549.0,3345.0,5631.0
Nayarit,306176,2021-05-29,2021-05-30 04:20:55,12170.0,1829.0,5745.0
Nuevo Leon,306208,2021-05-29,2021-05-30 04:20:55,124278.0,9531.0,49029.0
Oaxaca,306211,2021-05-29,2021-05-30 04:20:55,47205.0,3733.0,19550.0
Puebla,306248,2021-05-29,2021-05-30 04:20:55,85136.0,11865.0,30711.0
Queretaro,306258,2021-05-29,2021-05-30 04:20:55,69137.0,4376.0,12483.0
Quintana Roo,306260,2021-05-29,2021-05-30 04:20:55,26868.0,2774.0,11673.0
San Luis Potosi,306289,2021-05-29,2021-05-30 04:20:55,64232.0,5352.0,27062.0
Sinaloa,306311,2021-05-29,2021-05-30 04:20:55,39158.0,6154.0,18245.0
Sonora,306316,2021-05-29,2021-05-30 04:20:55,75182.0,6628.0,35026.0
Tabasco,306327,2021-05-29,2021-05-30 04:20:55,68240.0,4153.0,31364.0
Tamaulipas,306329,2021-05-29,2021-05-30 04:20:55,59573.0,5017.0,29450.0
Tlaxcala,306342,2021-05-29,2021-05-30 04:20:55,19921.0,2455.0,7322.0
Unknown,306370,2021-05-29,2021-05-30 04:20:55,0.0,0.0,1924865.0
Veracruz,306390,2021-05-29,2021-05-30 04:20:55,61482.0,9867.0,32254.0
Yucatan,306419,2021-05-29,2021-05-30 04:20:55,39748.0,3917.0,19522.0
Zacatecas,306423,2021-05-29,2021-05-30 04:20:55,30758.0,2797.0,9907.0

Crea un dataframe que contenga únicamente los datos de China llamado "China" y uno para México

In [55]:
df_mexico = data[data["Country/Region"]== 'Mexico']
df_mexico

(Empty DataFrame
 Columns: [SNo, ObservationDate, Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered]
 Index: [],
            SNo ObservationDate Province/State Country/Region  \
 83          84      2020-01-23            NaN         Mexico
 2753      2754      2020-02-28            NaN         Mexico
 2842      2843      2020-02-29            NaN         Mexico
 2965      2966      2020-03-01            NaN         Mexico
 3097      3098      2020-03-02            NaN         Mexico
 ...        ...             ...            ...            ...
 306341  306342      2021-05-29       Tlaxcala         Mexico
 306369  306370      2021-05-29        Unknown         Mexico
 306389  306390      2021-05-29       Veracruz         Mexico
 306418  306419      2021-05-29        Yucatan         Mexico
 306422  306423      2021-05-29      Zacatecas         Mexico

                Last Update  Confirmed  Deaths  Recovered
 83     2020-01-23 17:00:00        0.0     0.0        0.0
 2753   2020-02-28 15:03:26        1.0     0.0        0.0
 2842   2020-02-29 21:13:17        4.0     0.0        0.0
 2965   2020-03-01 23:33:03        5.0     0.0        0.0
 3097   2020-03-01 23:33:03        5.0     0.0        0.0
 ...                    ...        ...     ...        ...
 306341 2021-05-30 04:20:55    19921.0  2455.0        0.0
 306369 2021-05-30 04:20:55        0.0     0.0  1924865.0
 306389 2021-05-30 04:20:55    61482.0  9867.0        0.0
 306418 2021-05-30 04:20:55    39748.0  3917.0        0.0
 306422 2021-05-30 04:20:55    30758.0  2797.0        0.0

 [12282 rows x 8 columns])

In [88]:
df_china = data[(data["Country/Region"]== "Mainland China") + (data["Country/Region"]== "China") + (data["Country/Region"]== "Taiwan")]
df_china["Country/Region"].unique()

array(['Mainland China', 'Taiwan', 'China'], dtype=object)

In [36]:
df_mexico.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12282 entries, 83 to 306422
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              12282 non-null  int64
 1   ObservationDate  12282 non-null  datetime64[ns]
 2   Province/State   12199 non-null  object
 3   Country/Region   12282 non-null  object
 4   Last Update      12282 non-null  datetime64[ns]
 5   Confirmed        12282 non-null  float64
 6   Deaths           12282 non-null  float64
 7   Recovered        12282 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 863.6+ KB

In [29]:
df_mexico = df_mexico.reset_index()
df_mexico["Province/State"] = df_mexico["Province/State"].str.replace("Unknown", "Mexico")
df_mexico

,index,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,27399,27400,2020-05-20,Mexico,Mexico,2021-04-02 15:13:53,9346.0,563.0,7365.0
1,27855,27856,2020-05-21,Mexico,Mexico,2021-04-02 15:13:53,9661.0,622.0,7663.0
2,28311,28312,2020-05-22,Mexico,Mexico,2021-04-02 15:13:53,10160.0,809.0,7914.0
3,28767,28768,2020-05-23,Mexico,Mexico,2021-04-02 15:13:53,10606.0,842.0,8289.0
4,29223,29224,2020-05-24,Mexico,Mexico,2021-04-02 15:13:53,11057.0,846.0,8730.0
...,...,...,...,...,...,...,...,...,...
370,303086,303087,2021-05-25,Mexico,Mexico,2021-05-26 04:20:35,248983.0,34644.0,0.0
371,303851,303852,2021-05-26,Mexico,Mexico,2021-05-27 04:20:59,249239.0,34672.0,0.0
372,304616,304617,2021-05-27,Mexico,Mexico,2021-05-28 04:20:36,249628.0,34834.0,0.0
373,305381,305382,2021-05-28,Mexico,Mexico,2021-05-29 04:20:41,249892.0,34927.0,0.0
374,306146,306147,2021-05-29,Mexico,Mexico,2021-05-30 04:20:55,250093.0,34955.0,0.0

In [43]:
df_china.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              0 non-null      int64
 1   ObservationDate  0 non-null      datetime64[ns]
 2   Province/State   0 non-null      object
 3   Country/Region   0 non-null      object
 4   Last Update      0 non-null      datetime64[ns]
 5   Confirmed        0 non-null      float64
 6   Deaths           0 non-null      float64
 7   Recovered        0 non-null      float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 0.0+ bytes

In [30]:
df_mexico

,index,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,27399,27400,2020-05-20,Mexico,Mexico,2021-04-02 15:13:53,9346.0,563.0,7365.0
1,27855,27856,2020-05-21,Mexico,Mexico,2021-04-02 15:13:53,9661.0,622.0,7663.0
2,28311,28312,2020-05-22,Mexico,Mexico,2021-04-02 15:13:53,10160.0,809.0,7914.0
3,28767,28768,2020-05-23,Mexico,Mexico,2021-04-02 15:13:53,10606.0,842.0,8289.0
4,29223,29224,2020-05-24,Mexico,Mexico,2021-04-02 15:13:53,11057.0,846.0,8730.0
...,...,...,...,...,...,...,...,...,...
370,303086,303087,2021-05-25,Mexico,Mexico,2021-05-26 04:20:35,248983.0,34644.0,0.0
371,303851,303852,2021-05-26,Mexico,Mexico,2021-05-27 04:20:59,249239.0,34672.0,0.0
372,304616,304617,2021-05-27,Mexico,Mexico,2021-05-28 04:20:36,249628.0,34834.0,0.0
373,305381,305382,2021-05-28,Mexico,Mexico,2021-05-29 04:20:41,249892.0,34927.0,0.0
374,306146,306147,2021-05-29,Mexico,Mexico,2021-05-30 04:20:55,250093.0,34955.0,0.0

## Limpieza de Datos nulos y NaN

Revisa el número de datos nulos para México e imprime el porcentaje de datos nulos por columna

In [44]:
#Hazlo aquí
df_mexico.isnull().sum()

SNo                 0
ObservationDate     0
Province/State     83
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
dtype: int64

In [47]:
((df_mexico.isnull().sum())/len(df_mexico))*100
#esto es de Nadia, sirve para sacar el promedio, pero ella si tiene datos nulos.

SNo                0.000000
ObservationDate    0.000000
Province/State     0.675786
Country/Region     0.000000
Last Update        0.000000
Confirmed          0.000000
Deaths             0.000000
Recovered          0.000000
dtype: float64

Después, llena los datos nulos de la columna de estado con los datos del país. Por ejemplo, si no tiene el estado, en lugar de decir "Morelia" llenalo con "México". ¿Es esta una buena opción? ¿Qué podrías hacer diferente? 

Hint: utiliza data[""].fillna(data[""], inplace)

In [114]:
#Hazlo aquí
df_mexico["Province/State"]= df_mexico["Province/State"].fillna("México")
df_mexico.info()
#df_mexico.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12282 entries, 83 to 306422
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              12282 non-null  int64
 1   ObservationDate  12282 non-null  datetime64[ns]
 2   Province/State   12282 non-null  object
 3   Country/Region   12282 non-null  object
 4   Last Update      12282 non-null  datetime64[ns]
 5   Confirmed        12282 non-null  float64
 6   Deaths           12282 non-null  float64
 7   Recovered        12282 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 863.6+ KB

C:\Users\Bruno Ortega\AppData\Local\Temp\ipykernel_12004\2642705637.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mexico["Province/State"]= df_mexico["Province/State"].fillna("México")

Ahora ordena los valores por la última obervación, luego por país, y luego por estado

In [116]:
#ordenamos los valores
#Hazlo aquí
data.sort_values(["ObservationDate","Country/Region","Province/State"])

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
38,39,2020-01-22,Unknown,China,2020-01-22 17:00:00,0.0,0.0,0.0
12,13,2020-01-22,Hong Kong,Hong Kong,2020-01-22 17:00:00,0.0,0.0,0.0
35,36,2020-01-22,NaN,Japan,2020-01-22 17:00:00,2.0,0.0,0.0
39,40,2020-01-22,NaN,Kiribati,2020-01-22 17:00:00,0.0,0.0,0.0
20,21,2020-01-22,Macau,Macau,2020-01-22 17:00:00,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
305831,305832,2021-05-29,NaN,Vietnam,2021-05-30 04:20:55,6908.0,47.0,2896.0
305832,305833,2021-05-29,NaN,West Bank and Gaza,2021-05-30 04:20:55,307838.0,3492.0,300524.0
305833,305834,2021-05-29,NaN,Yemen,2021-05-30 04:20:55,6731.0,1319.0,3399.0
305834,305835,2021-05-29,NaN,Zambia,2021-05-30 04:20:55,94751.0,1276.0,91594.0
305835,305836,2021-05-29,NaN,Zimbabwe,2021-05-30 04:20:55,38933.0,1594.0,36578.0

Crea una nueva columna llamada "first_date", en donde se aplique **por país** el primer día en el que se empezaron a tomar registros. Luego, crea una columna llamada "days", en donde se tenga la diferencia de días que han pasado desde que se comenzó y hasta el día del último registro. ¿Cuántos días han pasado desde la última observación y la primera observación por país?

In [152]:
#Hazlo aquí
first_date1 = data.sort_values(["Country/Region", "ObservationDate"])
first_date1

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
2737,2738,2020-02-28,NaN,Azerbaijan,2020-02-28 15:03:26,1.0,0.0,0.0
4770,4771,2020-03-10,NaN,"('St. Martin',)",2020-03-10 05:33:02,2.0,0.0,0.0
2324,2325,2020-02-24,NaN,Afghanistan,2020-02-24 23:33:02,1.0,0.0,0.0
2419,2420,2020-02-25,NaN,Afghanistan,2020-02-24 23:33:02,1.0,0.0,0.0
2522,2523,2020-02-26,NaN,Afghanistan,2020-02-24 23:33:02,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
5252,5253,2020-03-12,NaN,occupied Palestinian territory,2020-03-11 20:53:02,0.0,0.0,0.0
5735,5736,2020-03-14,NaN,occupied Palestinian territory,2020-03-11 20:53:02,0.0,0.0,0.0
5995,5996,2020-03-15,NaN,occupied Palestinian territory,2020-03-11 20:53:02,0.0,0.0,0.0
6269,6270,2020-03-16,NaN,occupied Palestinian territory,2020-03-11 20:53:02,0.0,0.0,0.0
6547,6548,2020-03-17,NaN,occupied Palestinian territory,2020-03-11 20:53:02,0.0,0.0,0.0

In [134]:
day=data.groupby('Country/Region')['ObservationDate'].min()
day

Country/Region
 Azerbaijan                      2020-02-28
('St. Martin',)                  2020-03-10
Afghanistan                      2020-02-24
Albania                          2020-03-09
Algeria                          2020-02-25
                                    ...
West Bank and Gaza               2020-03-26
Yemen                            2020-04-10
Zambia                           2020-03-18
Zimbabwe                         2020-03-20
occupied Palestinian territory   2020-03-10
Name: ObservationDate, Length: 229, dtype: datetime64[ns]

In [135]:
firstday=data.groupby('Country/Region')['ObservationDate'].min().sort_values()
firstday

Country/Region
Kiribati           2020-01-22
Japan              2020-01-22
US                 2020-01-22
Mainland China     2020-01-22
China              2020-01-22
                      ...
Lesotho            2020-05-13
Solomon Islands    2020-10-12
Marshall Islands   2020-10-28
Vanuatu            2020-11-10
Micronesia         2021-01-21
Name: ObservationDate, Length: 229, dtype: datetime64[ns]

In [147]:
country = data.groupby(["Country/Region"]).sum()
country['first_date'] = data.groupby('Country/Region')['ObservationDate'].min()
country['last_date'] = data.groupby('Country/Region')['ObservationDate'].max()
country["day"] = country['last_date'] - country['first_date']
country

,SNo,Confirmed,Deaths,Recovered,first_date,last_date,day
Country/Region,,,,,,,
Azerbaijan,2738,1.0,0.0,0.0,2020-02-28,2020-02-28,0 days
"('St. Martin',)",4771,2.0,0.0,0.0,2020-03-10,2020-03-10,0 days
Afghanistan,62458515,17026442.0,669075.0,13464399.0,2020-02-24,2021-05-29,460 days
Albania,62414429,19768869.0,375955.0,13945256.0,2020-03-09,2021-05-29,446 days
Algeria,62455940,27684358.0,834464.0,18959299.0,2020-02-25,2021-05-29,459 days
...,...,...,...,...,...,...,...
West Bank and Gaza,62376640,41819444.0,440378.0,37003116.0,2020-03-26,2021-05-29,429 days
Yemen,62206925,962066.0,237613.0,506523.0,2020-04-10,2021-05-29,414 days
Zambia,62439888,13493953.0,205990.0,12625626.0,2020-03-18,2021-05-29,437 days
Zimbabwe,62426441,6484581.0,237234.0,5594887.0,2020-03-20,2021-05-29,435 days
occupied Palestinian territory,39525,25.0,0.0,0.0,2020-03-10,2020-03-17,7 days

Revisa. ¿Es esta nueva columna tiene un tipo de dato correcto?

In [158]:
#hazlo aquí
country.dtypes

SNo                     int64
Confirmed             float64
Deaths                float64
Recovered             float64
first_date     datetime64[ns]
last_date      datetime64[ns]
day           timedelta64[ns]
dtype: object

## última actualización de la base de datos

Selecciona e imprime el número de casos mundiales **totales** que se han registrado hasta la fecha. Imprime:
- Total de casos confirmados
- Total de muertes
- Total de gente recuperada
- Death rate (definela como la muertes totales / confirmados)

In [165]:
#Hazlo aquí
world_cases = data["Confirmed"].sum()

deads = data["Deaths"].sum()

recovery = data["Recovered"].sum()

Death_rate = deads/world_cases


print(world_cases, deads, recovery, Death_rate)

26252051758.0 624013017.0 15450237912.0 0.023770066536221858

In [166]:
data["Deaths"].sum()

624013017.0

Ahora realiza la misma métrica, pero agrupando por países. ¿Cuál es el país con mayor número de confirmados? Luego, ordena los registros por el número de casos confirmados

In [27]:
#Hazlo aquí

## gráficas

Crea una función que reciba de parámetros dos cosas: una columna, y el título y te genera una **gráfica de barras** en donde te muestre el top 15 de países de ésa columna con los datos **a la fecha**. 

Por ejemplo, sería plot_new("Confirmados", "este es mi título")
Y esto nos traería una gráfica de barras con el top 15 de países que tengan mayor número de confirmados **a la fecha**

In [30]:
#Hazlo aquí

Después revisa el siguiente caso

In [ ]:
plt.figure(figsize=(17,20))
plt.subplot(311)
plot_new('Confirmed','Confirmed cases top 15 countries')

Ahora revisa para la columna de "Deaths"

In [31]:
# al solo cambiar los parametros obtenemos una nueva grafica
#plot_new('Deaths','Death cases top 15 countries')

Y activos

In [32]:
#plot_new('Active','Active cases top 15 countries')

Modifica tu función anterior de tal forma que le puedas añadir un nuevo parámetro llamado "rank". Si este es "top", te mostrará el top 15 países para la columna que hayas seleccionado. Si este es "bottom", te mostrará los 15 más bajos. Tmabién filtra mejor tu selección para únicamente mostrar a países que tengan 10 o más muertes. Y después muestra los países con el death rate más alto y más bajo

In [33]:
# Hazlo aquí

Crea un subplot de 2x2 en donde se muestre el número de casos confirmads, fallecidos, casos activos y death rate a través del tiempo de forma global a través del tiempo

In [34]:
# Hazlo aquí

Modifica el código anterior de tal forma que lo puedas hacer con el país que quieras

In [35]:
#Hazlo aquí

Imprime para mainland china, méxico, Chile y Perú

## comparación entre paises

Crea una comparación entre países. Como si fuera la gráfica anterior, pero grafica la evolución de casos confirmados para cada país y en el eje **x no tengas la fecha**, sino el número de días que han pasado. ¿Qué podrías concluir de utilizar el número de días a utilizar la fecha?

In [36]:
#Hazlo aquí

Modifica tu código anterior para mostrar la misma gráfica, pero selecciona únicamente los países que están en el top10 de fallecidos **a la fecha**

In [37]:
#Hazlo aquí

Realiza lo mismo, pero ahora con los países que entraron primero a la pandemia.

Hint: revisa cuáles son los primeros 10 países en entrar y utiliza isin() en la columna de país

In [38]:
#Hazlo aquí

Muestra el top 15 de países con la mayor death rate

In [39]:
#Hazlo aquí

Crea un mapa interactivo con el número de casos actuales confirmados utilizando scatter_geo. Para esto necesitarás pegar la columna de código de 3 números por país por ejemplo, Mexico = MEX. Canada = CAN, etc. Haz que los tamaños de los puntitos sean de acuerdo al número de casos confirmados

## mapa