# ¡Bienvenido a Data Analytics!

## Tipos de Datos

Exploremos un poco los tipo básicos de datos que maneja Python: 
* int =  Utilizado para números naturales. 
* float = Utilizado para números reales. 
* bool = Valores verdaderos o falsos. 
* str = Utilizado para textos

### siempre hay errores al tomar datos, debemos checarlos al hacer los proyectos

### 1) Datos tipo "int" (integer o entero)

In [1]:
a = 5     # Asignará un "int" de 5 a la variable "a". 
b = 8     # Los datos tipo int son frecuentemente utilizados como contadores
c = 10    # Por ejemplo, para contar tiempo o para contar ciclos

In [2]:
type(a)   # El método type() nos dirá que tipo de objeto (el objeto es "a" en este caso) es el que ingresemos

int

In [3]:
type(10)  # Tambien podemos usar el método type() sobre una constante

int

### 2) Datos tipo "float" (floating o flotante)

In [11]:
d = 13.4# Al agregar un decimal, Python detecta este tipo de dato como flotante, o "float"

In [12]:
type(d)

float

In [6]:
d * 2     # Importante que aquí estamos evaluando esta operación matemática; pero no asignándola (casting) a una nueva variable

26.8

In [7]:
e = d * 2 # Aquí quedó asignado el valor de la operación a una nueva variable

In [8]:
# ¿Por qué al ejecutar (run) el programa anterior no mostró el valor?
# Porque la instrucción esta almacenando el valor en la variable "e", pero no pidiendo que nos muestra "e"
e

26.8

In [ ]:
d = d * 2 # Aquí quedó asignado a la misma variable; es decir, sustituyó al valor inicial que tenía la variable almancedado
d         # Veamos este nuevo valor

###  3) Datos tipo "bool" (boolean o booleano)

In [9]:
f = True  # Los valores bool solamente pueden ser "Verdadero (True)" o "Falsos (False)"

In [10]:
type(f)

bool

In [11]:
f         # Inspeccionemos el valor de f

True

In [12]:
f + 1     # Los valores "bool" también tienen una representación numérica. Falso = 0 y Verdadero = 1

2

In [13]:
g = f + 1 # Pero ahora "g" es un valor tipo "int", 
type(g)   # Recuerda que las variables tipo "bool" solamente pueden ser 0 o 1.

int

In [14]:
h = 1     # Asignando el valor "1", por defecto Python lo tomará con "int"
type(h)   # Entonces, ¿cómo crear un valor "bool"?

int

In [18]:
h = bool(h)  # Como vimos anteriormente: 1)se puede asignar como verdadero (True) o falso (False) o 2) Usar la función bool()

In [27]:
type(h)

bool

<font color = 'red'>Las variables bool son clave en las operaciones lógicas. Permiten evaluar condiciones.</font>

In [87]:
4 > 3

True

In [88]:
type(4 > 3)

bool

In [89]:
4 < 3

False

In [90]:
7 == 6

False

In [91]:
3 != 5

True

### 4) Datos tipo "str" (string o cadena de caracteres)

In [14]:
i = 'palabra'
type(i)

str

In [15]:
'a' * 3  # Algunas operaciones lógicas pueden utilizarse con strings.

'aaa'

In [16]:
'a' + 'a' + 'a' # Concatenación de strings

'aaa'

In [18]:
'a' - 'b'       # Otras evaluarán errores

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## Generalidades de Tipos de Datos: Operaciones Algebraicas

Con tipos de datos que son inherentemente numéricos, se puede realizar operaciones algebraícas básicas.
* (+) Operación de Suma
* (-) Operación de Resta
* (*) Operación de Multiplicación
* (/) Operación de división
* (**) Operación exponencial
* (%) Operación de módulo (obtiene el residuo de la división)

### usas operación de modulo para encontrar patrones perfectos.

In [32]:
34 + 54 # Operación de suma

88

In [84]:
23 - 11 # Operación de resta

12

In [34]:
5 * 100 # Operación de multiplicación

500

In [35]:
33 / 11 # Operación de división

3.0

In [36]:
2 ** 4  # Operación de exponenciación

16

In [43]:
3 % 2  # Operación de módulo

1

In [44]:
46 % 22 # Operación de módulo, ejemplo 2

2

In [57]:
# Estas operaciones pueden de igual forma realizarse con variables
j = 10 * 2
j

20

In [59]:
k = 12  # Más operaciones con variables
l = 4
k / l

3.0

## Generalidades de Tipos de Datos: Métodos Útiles

In [20]:
# Los diferentes tipos de datos tienen métodos útiles, por ejemplo...
m = 'abra cadabra'
m

'abra cadabra'

In [79]:
m.capitalize() # Capitaliza la primera letra de la variable

'Abra cadabra'

In [80]:
m.count('a')  # Cuenta el número de ocurrencias de 'a' en la cadena de letras

5

In [81]:
m.split()      # Separa la cadena, tomando por defecto el espacio

['abra', 'cadabra']

In [83]:
m.replace('a','b') # Sustituye "a" (primer argumento) por "b" (segundo argumento)

'bbrb cbdbbrb'

## Algunos tips útiles

* var = None  Elimina el valor dentro de una variable
* del var Eliminar la definición de la variable
* %reset = Elimina todas las variables
* Esc + DD = Elimina celda
* Ctrl + Shift + D = Mostrar atajos útiles de Jupyter. 
* Shift + Enter = Crea una nueva celda. 
* Ctrl + Enter = Ejecuta el código de la celda.