# Data Analytics

Instrucciones de Control
* if/else
* if/elif.. else
* while
* For

In [5]:
import pandas as pd

data = pd.read_csv("sales.csv")
data

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,5819.70,6586.16,1733.2,619.0,2.8,10.64,4086.50,5.105
1,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,10904.28,11363.52,2990.4,1068.0,2.8,10.64,7913.88,10.210
3,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,27987.84,28855.68,7593.6,2712.0,2.8,10.64,20394.24,10.320
4,2006,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17818,2006,Camping Equipment,Sleeping Bags,Hibernator,Mail,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17819,2006,Camping Equipment,Sleeping Bags,Hibernator,E-mail,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17820,2006,Camping Equipment,Sleeping Bags,Hibernator,E-mail,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17821,2006,Camping Equipment,Sleeping Bags,Hibernator,Fax,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17822,2006,Camping Equipment,Sleeping Bags,Hibernator,Fax,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data.head()

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,5819.70,6586.16,1733.2,619.0,2.8,10.64,4086.50,5.105
1,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,10904.28,11363.52,2990.4,1068.0,2.8,10.64,7913.88,10.210
3,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,27987.84,28855.68,7593.6,2712.0,2.8,10.64,20394.24,10.320
4,2006,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.tail()

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
17818,2006,Camping Equipment,Sleeping Bags,Hibernator,Mail,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17819,2006,Camping Equipment,Sleeping Bags,Hibernator,E-mail,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17820,2006,Camping Equipment,Sleeping Bags,Hibernator,E-mail,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17821,2006,Camping Equipment,Sleeping Bags,Hibernator,Fax,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17822,2006,Camping Equipment,Sleeping Bags,Hibernator,Fax,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17823 entries, 0 to 17822
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               17823 non-null  int64
 1   Product line       17823 non-null  object
 2   Product type       17823 non-null  object
 3   Product            17823 non-null  object
 4   Order method type  17823 non-null  object
 5   Retailer country   17823 non-null  object
 6   Revenue            6045 non-null   float64
 7   Planned revenue    6045 non-null   float64
 8   Product cost       6045 non-null   float64
 9   Quantity           5860 non-null   float64
 10  Unit cost          6045 non-null   float64
 11  Unit price         6045 non-null   float64
 12  Gross profit       6045 non-null   float64
 13  Unit sale price    6045 non-null   float64
dtypes: float64(8), int64(1), object(5)
memory usage: 1.9+ MB

## Instrucciones de Control: if/else

In [9]:
"""La instrucción de control if/else permite condicionalmente
tomar una acción si se cumple una condición y tomar otra acción
si no la cumple."""

precio = 5  # Ingresa el precio de la acción
if precio < 15: 
    print('¡Compra!')
else: 
    print('¡No compres!')

¡Compra!

## Instrucciones de Control: if/elif... else (Múltiples Condiciones)

In [10]:
""" Podemos crear un lazo de control if con múltiples condiciones.
Veamos un ejemplo: 
Supongamos que queremos crear un programa que asigne una calificación
en base al número reportado por el buró de crédito...
Si tiene más de 700 puntos será calificado como Excelente
Si tiene entre 600 y 700 puntos será calificado como Bueno
Si tiene entre 500 y 599 puntos será calificado como Cliente Riesgoso
Si tiene menos de 499 puntos será calificado como No Satisfactorio."""


calificacion = 800 # Probar con distintos valores
if calificacion > 700:
    print('Excelente')
elif calificacion >= 600:
    print('Bueno')
elif calificacion >= 500:
    print('Cliente Riesgoso')
else: 
    print('No Satisfactorio')

Excelente

## Instrucciones de Control: while

In [13]:
"""La instrucción de control while permite condicionalmente
ejecutar una serie de ciclos mientras se cumpla la condición."""

valor_de_ciclo = 1
while valor_de_ciclo < 6:
    print('Este es el ciclo número ', valor_de_ciclo)
    #valor_de_ciclo = valor_de_ciclo + 1
    valor_de_ciclo += 1

Este es el ciclo número  1
Este es el ciclo número  2
Este es el ciclo número  3
Este es el ciclo número  4
Este es el ciclo número  5

<font color = 'blue'>¡Cuidado con los loops infinitos! Es muy común para los programadores, al inicio, olvidar poner instrucciones para asegurar la salida del ciclo. Si este fuera el caso, puedes detener un programa con Ctrl + C.</font>

## Instrucciones de Control: for

In [2]:
"""La instrucción de control for permite ejecutar una 
serie de ciclos un número de veces predeterminado."""

for i in range(5):
    print('Este es el ciclo número ' + str(i + 1))

Este es el ciclo número 1
Este es el ciclo número 2
Este es el ciclo número 3
Este es el ciclo número 4
Este es el ciclo número 5

In [4]:
#Objetos Generadores
def g_test(n):
    for i in range(n):
        yield(i)

for i in g_test(10):
    print(i)

0
1
2
3
4
5
6
7
8
9